
{% extends "base.html" %}
{% block content %}


<h2 class = 'page-divider'> Here is the list of items</h2>

<div class="table-responsive text-nowrap">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Price</th>
                <th scope="col">Colour</th>
                <th scope="col">Design</th>
                <th scope="col">Size</th>
                <th scope="col">Quanitity</th>
                <th scope="col">Total Cost</th>
                <th scope="col">Remove from Cart</th>
            </tr>
        </thead>
        <tbody>
            {% for item in order.items.all %}
            <div style="color: {{item.get_colour_display }};"> ALLO</div>
            <tr>
                <th scope="row">{{ forloop.counter}}</th>
                <td>{{ item.title }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.get_colour_display }}</td>
                <td>{{ item.get_design_display }}</td>
                <td>{{ item.get_size_display }}</td>
                <td>{{ item.quantity }}</td>
                <td> ${{ item.get_total_price }}</td>
                <td><form method="POST"><button type="submit" value="{{item.title}}" name="item" class="btn btn-primary btn-md my-0 p"> Remove</button>{% csrf_token %}</form></td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan='7'><b> Order Total</b></td>
                <td> <b>${{order.get_total_price}}</b></td>
            </tr>
            <form method ="POST"> 
                {% csrf_token %}
            <tr>
                <td colspan='6'>
                      {% if order.get_total_price %}
                        <button type = 'submit' class="float-right btn btn-warning " value="checkout" name="checkout"> Proceed to Checkout</button>
                        {%endif%}  
                        <a href = '../design' class="float-right btn btn-primary "> Return to Designing </a>
                </td>
            </tr>
        </form>
             
        </tbody>
    </table>
  </div>



{% endblock %}