
{% extends "base.html" %}
{% block content %}
  <main>
    <div class="container page-divider">

      <!--Section: Products v.3-->
      <section class="text-center mb-4">

        <!--Grid row-->
        <div class="row wow fadeIn">
          
          <!--Grid column-->
          <div class="col-lg-12 col-md-12 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card content-->
              <div class="card-body text-center">
                <!--Category & Title-->
                <h2> Create your order here:</h2>
                
                <form method ="POST"> 
                    <table> {{ form }} </table>
                    {% csrf_token %}
                
                <!-- Name of Item 
                <input name= 'title' id='title'> </input>

                <select name='size' id='size'>
                    <option value="XS"> Extra Small </option>
                    <option value="S"> Small </option>
                    <option value="M"> Medium </option>
                    <option value="L"> Large </option>
                </select> 

                <select name='design' id='design'>
                    <option value="CF"> Front </option>
                    <option value="CB"> Back </option>
                    <option value="FB"> Front and Back</option>
                    <option value="TLS"> Top Left </option>
                    <option value="TRS"> Top Right </option>
                </select>  -->
                <button type= 'submit' class="btn btn-primary btn-md my-6"> Add to Cart </button>
                <a href = '../cart' class="btn btn-primary btn-md my-6"> Go to Cart</a>
                </form> 

                <!-- <div class = 'form-outline'>
                    <textarea class='form-control' id="textarea"> </textarea>
                    <label class = "form-label" for="textarea"> Any other information?</label> 
                </div> -->
              </div>
              <!--Card content-->

            </div>
            <!--Card-->
          </div>
        </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->
    </section>
    </div>
</main>
{% endblock%}
</div>
</body> 
</html> 
  